.button {
  border-radius: 15px;
  padding: 0px 10px;
  cursor: pointer;
  border: none;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);

  em {
    font-size: 0.8rem;
  }
}

.default {
  background-color: var(--theme-main);
  color: #fff;

  &:hover {
    background-color: var(--theme-50);
  }
}

.delete {
  background-color: var(--error-main);
  color: #fff;

  &:hover {
    background-color: var(--error-50);
  }
}

.responsive {
  @media (max-width: 767px) {
    height: 20px;
    min-width: 20px;
    padding: 0;
  }
}
