:root {
  --theme-main: #1a5aad;
  --theme-25: #71a7ee;
  --theme-50: #124383;

  --gray-25: #f0f0f0;
  --gray-50: #a0a0a0;

  --error-main: #fc8178;
  --error-50: #ff4b3e;

  --yellow-25: #ebd488;

  --backdrop: #00000080;

  --box-shadow: rgb(0 0 0 / 20%) 1px 1px 2px 0px, rgb(0 0 0 / 10%) 1px -1px 1px 0px;
}
